<div class="container">
  <div class="row">
    <div class="col text-center">
      <img src="img/rifki.jpg" class="img-thumbnail rounded-circle" width="200px" alt="">
      <h1 class="display-4">muhammad rifki</h1>
      <p class="lead">sudent | progammer</p>
    </div>
  </div>
</div>